<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908253986822-5914foapmt5rdofi5r07cvoanb2g1kv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908253986822-5914foapmt5rdofi5r07cvoanb2g1kv7</string>
	<key>API_KEY</key>
	<string>AIzaSyB-NJxUw1nzxQHXgjCewQWhVo2X2nAeAls</string>
	<key>GCM_SENDER_ID</key>
	<string>908253986822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lesson33Firebase01</string>
	<key>PROJECT_ID</key>
	<string>todo-e6415</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e6415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908253986822:ios:b2febc7ab0f89652074387</string>
</dict>
</plist>